.form{
  width: 100%;
  margin: 2em 0;
}

.questions{
  display:flex;
  flex-direction:row;
}

.questionsleft{
padding-right: 30%;

}

.questions-right{
  padding-left: 30%;
}

.botao{
  padding-left: 38%;
}