.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 350px;
  height: 550px;
  background-color: #eff1ed;
  border-radius: 50px;
  padding: 0 60px 0 60px;
}

.formField {
  border: 0px;
  border-radius: 10px;
  height: 45px;
  padding-left: 10px;
  background-color: #d9d9d9;
  transition: border-bottom 0.05s;
}

.formField:focus {
  outline: none;
  border-bottom: 3px solid #251fa5;
}
