.titleLogin {
    padding-right: 5%;
    padding-top: 0;
    padding-bottom: 2%;
    margin-bottom: 2%;
    padding-left: 42.7%;
    background-color: #fff13e;
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #eff1ed;
    border-radius: 30px;
    padding: 0 60px 0 60px;
  }
  
  .formFieldLogin {
    border: 0px;
    border-radius: 10px;
    height: 45px;
    padding-left: 10px;
    background-color: #d9d9d9;
    transition: border-bottom 0.05s;
  }
  
  .containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
  }
  
  .backButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #54B544;
    color: #EFF1ED;
    border-radius: 20px;
    padding: 0.5% 1%;
    font-size: 14px;
    cursor: pointer;
    border: none;
    margin-top: 0.2%;
    margin-left: 0.2%;
  }
  
  .recPasswordButton {
    width: 120px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #251fa5;
    color: #EFF1ED;
    border-radius: 24px;
    padding: 5% 8%;
    font-size: 12px;
    cursor: pointer;
    border: none;
    margin-top: 20%;
  }
  
  .containerButtonForm {
    height: 20%;
    width: 107%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }