body{
  background-color: #FFF13E;
}

.index_container{
  width: 32vw;
  margin: 0 auto;
  padding: 8em;
  padding-left: 10em;
  background-color: aliceblue;
  height: 80vh;
}

.index_forms{
  padding-top: 5vh;
  padding-left: 0;
}

.botoes{
  padding-top: 5vh;
  padding-left: 2vw;
}

.btn{
  padding-bottom: 2vh;
}

.form_control{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form_control label{
  margin-bottom: .6em;
  font-weight:bold;
  
}

.form_control input{
  padding: .7em;
  border-radius: 4%;
  border:none;
  height: 40px; /* Defina a altura desejada aqui */
  width: 280px;
}

.form_control input::placeholder{
  color: #7b7b7b;
}