.title {
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 2%;

  text-decoration: none;
  font-size: 32px;

  color: #131200;
  background-color: #EFF1ED;
}

.subtitle {
  padding-left: 45%;
  margin-bottom: 4%;

  color: #131200;
  font-size: 24px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #54B544;
  color: #EFF1ED;
  border-radius: 20px;
  padding: 5% 10%;
  margin-right: 20%;
  margin-bottom: 11%;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.button_group {
  margin-left: 30%;
}