.index_container{
  width: 50%;
  margin: 0 auto;
  padding: 3em;
}

.index_container h1{
  margin-bottom: 0.5em;

}

.index_container p {
  color:#7b7b7b;
}

.corpo{
  background-color: #FFF13E;
}
.form{
  width: 100%;
  margin: 2em 0;
}

.questions{
  display:flex;
  flex-direction:row;
}

.questionsleft{
padding-right: 30%;

}

.questions-right{
  padding-left: 30%;
}

.botao{
  padding-left: 38%;
}