.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    margin: 10px;
}

.shopping_cart_title {
    font-size: 2em;
    color: #000;
    text-align: center;
    padding: 10px;
}

.button {
    width: 30px; /* Adjust width and height as needed */
    height: 30px;
    cursor: pointer;
    border: 2px solid #000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

.button_remove {
    cursor: pointer;
    border: 2px solid #000;
    font-weight: bold;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    word-wrap: break-word;
    border-radius: 5px;
}

.image_button_remove {
    width: 50px;
    height: 50px;
}

.container_plus_and_minus {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
}

.container_buttons {
    display: flex;
    align-items: center;
    padding: 10px;
}

.list_item_shopping_cart {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 10px;
    width: 300px;
}

.button_finish_order {
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: bold;
}
